/* 标题区域，60*280 内容区域(图片)520*280 */
.ctboxs{
	width: 751px;
	height: 280px;
	position: relative;
	overflow: hidden;
	border:5px solid orange;
}
.ctboxs .ctbox {
	width: 593px;
	height: 280px;
	display: flex;
	position: absolute;
	top: 0;
}
.ctboxs .ct1{left: 0;}
.ctboxs .ct2{left:593px ;}
.ctboxs .ct3{left: 649px;}
.ctboxs .ct4{left: 705px;}
.ctboxs .ctbox .title {
	color: #fff;
	font-size: 22px;
	line-height: 25px;
	padding: 65px 17px 0;
	cursor: pointer;
}
.ctboxs .ct1 .title {
	background: rgb(0, 0, 127);
}
.ctboxs .ct2 .title {
	background: rgb(238, 136, 0);
}
.ctboxs .ct3 .title {
	background: rgb(126, 127, 0);
}
.ctboxs .ct4 .title {
	background: rgb(35, 97, 173);
}